@import "tailwindcss";

@layer utilities {
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .delayed-loader {
    opacity: 0;
    animation: fadeIn 0.2s ease-in forwards;
    animation-delay: 0.3s;
  }
}